<a href="https://colab.research.google.com/github/19PA1A0548/VITBML-EDA3/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [27]:
path = pd.read_csv("Information.csv",encoding = "ISO-8859-1" )
path.head()

    _unit_id  _golden  ...   tweet_location               user_timezone
0  815719226    False  ...  main; @Kan1shk3                     Chennai
1  815719227    False  ...              NaN  Eastern Time (US & Canada)
2  815719228    False  ...           clcncl                    Belgrade
3  815719229    False  ...    Palo Alto, CA  Pacific Time (US & Canada)
4  815719230    False  ...              NaN                         NaN

[5 rows x 26 columns]

In [28]:
for i in path.columns:
  if path[i].isna().any() == True:
    path[i].fillna(method = "ffill", inplace = True)
    path[i].fillna(method = "bfill", inplace = True)
path.isna().any()

_unit_id                 False
_golden                  False
_unit_state              False
_trusted_judgments       False
_last_judgment_at        False
gender                   False
gender:confidence        False
profile_yn               False
profile_yn:confidence    False
created                  False
description              False
fav_number               False
gender_gold              False
link_color               False
name                     False
profile_yn_gold          False
profileimage             False
retweet_count            False
sidebar_color            False
text                     False
tweet_coord              False
tweet_count              False
tweet_created            False
tweet_id                 False
tweet_location           False
user_timezone            False
dtype: bool

In [29]:
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.600, 0.610), 0.60, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.610, 0.620), 0.61, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.620, 0.630), 0.62, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.630, 0.640), 0.63, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.640, 0.650), 0.64, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.650, 0.660), 0.65, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.660, 0.670), 0.66, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.670, 0.680), 0.67, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.680, 0.690), 0.68, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.690, 0.700), 0.69, path["gender:confidence"])
############jkgsauis
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.700, 0.710), 0.70, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.710, 0.720), 0.71, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.720, 0.730), 0.72, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.730, 0.740), 0.73, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.740, 0.750), 0.74, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.750, 0.760), 0.75, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.760, 0.770), 0.76, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.770, 0.780), 0.77, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.780, 0.790), 0.78, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.790, 0.800), 0.79, path["gender:confidence"])
#################ydsghgtisusiery
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.300, 0.310), 0.30, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.310, 0.320), 0.31, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.320, 0.330), 0.32, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.330, 0.340), 0.33, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.340, 0.350), 0.34, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.350, 0.360), 0.35, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.360, 0.370), 0.36, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.370, 0.380), 0.37, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.380, 0.390), 0.38, path["gender:confidence"])
path["gender:confidence"] = np.where(path["gender:confidence"].between(0.390, 0.400), 0.39, path["gender:confidence"])
path["gender:confidence"].unique()

array([1.    , 0.66  , 0.7   , 0.65  , 0.35  , 0.33  , 0.34  , 0.64  ,
       0.67  , 0.63  , 0.    , 0.68  , 0.37  , 0.69  , 0.32  , 0.36  ,
       0.62  , 0.31  , 0.9612, 0.9622, 0.75  , 0.8503, 0.8458, 0.9636,
       0.8796, 0.9613, 0.76  , 0.6   , 0.5762, 0.554 , 0.9618, 0.5654,
       0.8431, 0.8397, 0.8472, 0.8489])

In [30]:
path["_unit_state"].unique()

array(['finalized', 'golden'], dtype=object)

In [31]:
path["gender"].replace( to_replace = "male", value = 1, inplace = True) 
path["gender"].replace(to_replace = "female", value = 0, inplace = True)
path["gender"].unique()

array([1, 0, 'brand', 'unknown'], dtype=object)

In [32]:
path["gender"].replace(to_replace = "brand", value = 2, inplace = True)
path["gender"].replace(to_replace = "unknown", value = 3, inplace = True)
path["gender"].unique()

array([1, 0, 2, 3])

In [33]:
path["tweet_id"].unique()

array([6.5873e+17, 6.5874e+17])

In [34]:
path["_trusted_judgments"].unique()

array([  3, 249, 271, 245, 261, 247, 242, 256, 262, 259, 264, 258, 260,
       228, 233, 255, 235, 254, 231, 274, 246, 273, 239, 270, 237, 227,
       253, 252, 212, 240, 248, 250])

In [35]:
path["gender:confidence"].unique()

array([1.    , 0.66  , 0.7   , 0.65  , 0.35  , 0.33  , 0.34  , 0.64  ,
       0.67  , 0.63  , 0.    , 0.68  , 0.37  , 0.69  , 0.32  , 0.36  ,
       0.62  , 0.31  , 0.9612, 0.9622, 0.75  , 0.8503, 0.8458, 0.9636,
       0.8796, 0.9613, 0.76  , 0.6   , 0.5762, 0.554 , 0.9618, 0.5654,
       0.8431, 0.8397, 0.8472, 0.8489])

In [36]:
path["profile_yn:confidence"].unique()

array([1.    , 0.6581, 0.6566, 0.6716, 0.6527, 0.6478, 0.6769, 0.6913,
       0.6636, 0.6616, 0.6552, 0.681 , 0.646 , 0.6574, 0.6741, 0.669 ,
       0.6642, 0.6649, 0.6683, 0.6711, 0.6768, 0.6686, 0.6694, 0.6622,
       0.6556, 0.6691, 0.6889, 0.6842, 0.6596, 0.6719, 0.6784, 0.6583,
       0.6618, 0.6777, 0.6803, 0.6475, 0.6599, 0.6822, 0.6467, 0.6461,
       0.697 , 0.6627, 0.6531, 0.6436, 0.6904, 0.6635, 0.6817, 0.688 ,
       0.6561, 0.6493, 0.6785, 0.6575, 0.6543, 0.6538, 0.6722, 0.6406,
       0.6504, 0.6734, 0.6541, 0.671 , 0.6323, 0.664 , 0.6594, 0.689 ,
       0.6682, 0.694 , 0.6677, 0.6557, 0.6551, 0.6839, 0.6523, 0.6714,
       0.6619, 0.6907, 0.6666, 0.6713, 0.6737, 0.6693, 0.6631, 0.6814,
       0.6628, 0.6612, 0.6727, 0.6752, 0.6801, 0.6361, 0.6464, 0.6865,
       0.653 , 0.6519, 0.659 , 0.6477, 0.6859, 0.6696, 0.647 , 0.675 ,
       0.661 , 0.6408, 0.6676, 0.6623, 0.6674, 0.6731, 0.6976, 0.6905,
       0.6881, 0.6767, 0.6625, 0.6377, 0.6816, 0.6781, 0.6825, 0.6524,
       0.6705, 0.6418, 0.6485, 0.678 , 0.6509, 0.6595, 0.6856, 0.6651,
       0.6603, 0.6838, 0.6434, 0.6726, 0.6424, 0.6875, 0.6669, 0.6786,
       0.6598, 0.6749, 0.6505, 0.6629, 0.6671, 0.6864, 0.6743, 0.6867,
       0.6732, 0.6613, 0.6602, 0.6812, 0.6888, 0.6497, 0.6771, 0.6648,
       0.6673, 0.6703, 0.6819, 0.6607, 0.6701, 0.6606, 0.6665, 0.6664,
       0.6879, 0.6593, 0.6373, 0.6547, 0.6456, 0.6634, 0.6709, 0.682 ,
       0.6641, 0.6645, 0.644 , 0.6432, 0.6658, 0.6776, 0.6481, 0.6655,
       0.6712, 0.6444, 0.6757, 0.65  , 0.6715, 0.6548, 0.6774, 0.6488,
       0.6707, 0.654 , 0.6678, 0.6621, 0.6766, 0.6773, 0.674 , 0.6824,
       0.6568, 0.6617, 0.6545, 0.6512, 0.6675, 0.6589, 0.6562, 0.6516,
       0.676 , 0.6494, 0.6659, 0.6584, 0.6775, 0.6689, 0.6646, 0.6579,
       0.6272, 0.6772, 0.6462, 0.6426, 0.6544, 0.6498, 0.6615, 0.6591,
       0.6452, 0.6961, 0.6571, 0.6702, 0.6895, 0.6404, 0.6582, 0.6476,
       0.6916, 0.6729, 0.6442, 0.6532, 0.6445, 0.6782, 0.6735, 0.68  ,
       0.666 , 0.6637, 0.6855, 0.6567, 0.6656, 0.6718, 0.6946, 0.6604,
       0.6506, 0.641 , 0.6742, 0.6466, 0.686 , 0.6587, 0.6592, 0.6672,
       0.6684, 0.6483, 0.6762, 0.6663, 0.631 , 0.6818, 0.6736, 0.6308,
       0.6898, 0.6639, 0.6789, 0.6471, 0.6748, 0.6586, 0.6739, 0.667 ,
       0.6751, 0.6806, 0.6685, 0.6362, 0.6708, 0.6609, 0.6403, 0.643 ,
       0.6807, 0.9612, 0.9636])

In [37]:
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.600, 0.610), 0.60, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.610, 0.620), 0.61, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.620, 0.630), 0.62, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.630, 0.640), 0.63, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.640, 0.650), 0.64, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.650, 0.660), 0.65, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.660, 0.670), 0.66, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.670, 0.680), 0.67, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.680, 0.690), 0.68, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.690, 0.700), 0.69, path["profile_yn:confidence"])
############jkgsauis
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.700, 0.710), 0.70, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.710, 0.720), 0.71, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.720, 0.730), 0.72, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.730, 0.740), 0.73, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.740, 0.750), 0.74, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.750, 0.760), 0.75, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.760, 0.770), 0.76, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.770, 0.780), 0.77, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.780, 0.790), 0.78, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.790, 0.800), 0.79, path["profile_yn:confidence"])
#################ydsghgtisusiery
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.300, 0.310), 0.30, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.310, 0.320), 0.31, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.320, 0.330), 0.32, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.330, 0.340), 0.33, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.340, 0.350), 0.34, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.350, 0.360), 0.35, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.360, 0.370), 0.36, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.370, 0.380), 0.37, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.380, 0.390), 0.38, path["profile_yn:confidence"])
path["profile_yn:confidence"] = np.where(path["profile_yn:confidence"].between(0.390, 0.400), 0.39, path["profile_yn:confidence"])
path["profile_yn:confidence"].unique()

array([1.    , 0.65  , 0.67  , 0.64  , 0.69  , 0.66  , 0.68  , 0.63  ,
       0.62  , 0.9612, 0.9636])

In [38]:
path["retweet_count"].unique()

array([  0,   1,   2,  12, 330,   3,   7,  11,  10,   5,  13,  23,  15,
         4, 153,  49,   8,   9,   6,  36,  20,  19])

In [39]:
path["retweet_count"] = np.where(path["retweet_count"].between(0, 50), 25, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(50, 100), 75, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(100, 150), 125, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(150, 200), 175, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(250, 300), 225, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(300, 350), 275, path["retweet_count"])
path["retweet_count"] = np.where(path["retweet_count"].between(350, 400), 375, path["retweet_count"])
path["retweet_count"].unique()

array([ 25, 275, 175])

In [46]:
path["profile_yn"].replace(to_replace = "yes", value = 1, inplace = True)
path["profile_yn"].replace(to_replace = "no", value = 0, inplace = True)

In [55]:
x = path[["_golden", "gender:confidence", "profile_yn", "retweet_count", "tweet_id"]]
y = path["gender"]

In [56]:
from sklearn.model_selection import train_test_split as tts

In [57]:
x_tr, x_te, y_tr, y_te = tts(x, y, test_size = 0.2, random_state = 2)
x_tr, y_tr

(       _golden  gender:confidence  profile_yn  retweet_count      tweet_id
 2939     False               1.00           1             25  6.587300e+17
 10029    False               0.35           1             25  6.587400e+17
 14692    False               0.67           1             25  6.587400e+17
 13053    False               0.68           1             25  6.587400e+17
 19585    False               1.00           1             25  6.587400e+17
 ...        ...                ...         ...            ...           ...
 1099     False               1.00           1             25  6.587300e+17
 18898    False               0.33           1             25  6.587400e+17
 11798    False               1.00           1             25  6.587400e+17
 6637     False               1.00           1             25  6.587300e+17
 2575     False               1.00           1             25  6.587300e+17

 [16040 rows x 5 columns], 2939     1
 10029    0
 14692    0
 13053    0
 19585    0
         ..
 1099     1
 18898    1
 11798    0
 6637     0
 2575     1
 Name: gender, Length: 16040, dtype: int64)

In [58]:
from sklearn.ensemble import RandomForestClassifier as rfc

In [59]:
rfr = rfc()
rfr.fit(x_tr, y_tr)
y_pred = rfr.predict(x_te)
y_pred

array([1, 1, 1, ..., 0, 2, 0])

In [60]:
from sklearn.metrics import mean_absolute_error as mae
print("Mean absolute error for RandomForestClassifier is ", mae(y_pred, y_te))

Mean absolute error for RandomForestClassifier is  0.785286783042394

In [61]:
print("Therefore this is the best ensemble classification algorithm for the given data set")

Therefore this is the best ensemble classification algorithm for the given data set

In [62]:
#Questions for data:
#1.Who is more active in twitter?
#2.How many male _golden and female _golden users are there?

In [63]:
path["gender"].replace(to_replace = 1, value = "male", inplace = True)
path["gender"].replace(to_replace = 0, value = "female", inplace = True)
path["gender"].replace(to_replace = 2, value = "brand", inplace = True)
path["gender"].replace(to_replace = 3, value = "unknown", inplace = True)

In [65]:
path["gender"].value_counts()

female     6740
male       6216
brand      5973
unknown    1121
Name: gender, dtype: int64

In [68]:
#Answer for question 1:By the above answer female are more active in twitter
path.groupby("_golden")["gender"].value_counts()

_golden  gender
False    female     6725
         male       6195
         brand      5959
         unknown    1121
True     male         21
         female       15
         brand        14
Name: gender, dtype: int64

In [69]:
#Answer for Question 2:There are total of 21 male _golden users and 15 female _golden users are present and 6725 female not_golden and 6195 male not_golden are present