<a href="https://colab.research.google.com/github/19PA1A0548/VITBML-EDA3/blob/master/Untitled28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
df=pd.read_csv('/content/students_placement_data.csv')
df.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [4]:
df['registered_for_ Placement_Training'].unique()

array(['NO', 'yes'], dtype=object)

In [5]:
df['registered_for_ Placement_Training'].value_counts()

yes    67
NO     50
Name: registered_for_ Placement_Training, dtype: int64

In [15]:
y=len(df[df['registered_for_ Placement_Training']=='NO'])
x=len(df[df['registered_for_ Placement_Training']=='yes'])
print(x)
print(y)

67
50

In [0]:
x=df['B.Tech_percentage'].values.reshape(-1,1)
y=df['registered_for_ Placement_Training'].values.reshape(-1,1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['yes', 'NO', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'yes', 'NO', 'yes', 'yes', 'yes', 'yes', 'yes', 'NO', 'yes',
       'yes', 'yes', 'yes', 'yes', 'yes'], dtype=object)

In [28]:
dataframe=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})

dataframe

   actual predicted
0     yes       yes
1     yes        NO
2      NO       yes
3      NO       yes
4      NO       yes
5     yes       yes
6      NO       yes
7     yes       yes
8      NO       yes
9      NO       yes
10     NO       yes
11     NO        NO
12     NO       yes
13     NO       yes
14    yes       yes
15     NO       yes
16    yes       yes
17    yes        NO
18     NO       yes
19    yes       yes
20    yes       yes
21     NO       yes
22     NO       yes
23     NO       yes

In [29]:
print(model.score(x_test,y_test))

0.3333333333333333

In [32]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[ 1 14]
 [ 2  7]]

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          NO       0.33      0.07      0.11        15
         yes       0.33      0.78      0.47         9

    accuracy                           0.33        24
   macro avg       0.33      0.42      0.29        24
weighted avg       0.33      0.33      0.24        24